body {
  font-family: monospace;
  width: 100%;
}

p {
  margin-left: 30px;
  margin-bottom: -10px;
  font-size: 20px;
  color: #f4f4f4;
}

#name {
  margin-top: 50px;
  margin-bottom: 30px;
}

.logo {
  margin-left: 40px;
  display: block;
}

.letter {
  font-size: 150px;
  line-height: 135px;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  mix-blend-mode: color-burn;
  position: relative;
  transition: top ease 0.1s;
  transition-delay: 2s;
  opacity: 0.9;
}

.hover {
  animation: ease trigger 3s;
}

@keyframes trigger {
  0% {
    top: 0px;
  }
  50% {
    top: 50px;
  }
  100% {
    top: 0px;
  }
}

.hoverTwo {
  animation: ease triggerTwo 3s;
}

@keyframes triggerTwo {
  0% {
    top: 0px;
  }
  50% {
    top: 50px;
  }
  100% {
    top: 0px;
  }
}

.letterName {
  color: #4169e1;
}

::selection {
  background: #b39ddb;
}
